<div class="category_name">
    <span class="first_cat">Our</span>
    <span class="second_cat">Reviews</span>
  </div>


  <div class="review_wrapper">


    <div class="review_profile">
      <div class="image_wrapper">
        <img
          class="reviewer_image"
          src="https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150062008.jpg"
          alt=""
        />
      </div>
      <div class="reviewer_details">
        <p class="reviewer_name">Md. Sojib Ali</p>
        <p class="reviewer_designation">Junior web developer</p>
      </div>
      <div class="review_text">
        Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC,
        making it over 2000 years oldobscure Latin words, consectetur
      </div>
    </div>


    <div class="review_profile">
      <div class="image_wrapper">
        <img
          class="reviewer_image"
          src="https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150062008.jpg"
          alt=""
        />
      </div>
      <div class="reviewer_details">
        <p class="reviewer_name">Md. Sojib Ali</p>
        <p class="reviewer_designation">Junior web developer</p>
      </div>
      <div class="review_text">
        Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC,
        making it over 2000 years oldobscure Latin words, consectetur
      </div>
    </div>


    <div class="review_profile">
      <div class="image_wrapper">
        <img class="reviewer_image" src="https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150062008.jpg" alt="" />
      </div>
      <div class="reviewer_details">
        <p class="reviewer_name">Md. Sojib Ali</p>
        <p class="reviewer_designation">Junior web developer</p>
      </div>
      <div class="review_text">
        Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC,
        making it over 2000 years oldobscure Latin words, consectetur
      </div>
    </div>



    <div class="review_profile">
      <div class="image_wrapper">
        <img class="reviewer_image" src="https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150062008.jpg" alt="" />
      </div>
      <div class="reviewer_details">
        <p class="reviewer_name">Md. Sojib Ali</p>
        <p class="reviewer_designation">Junior web developer</p>
      </div>
      <div class="review_text">
        Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC,
        making it over 2000 years oldobscure Latin words, consectetur
      </div>
    </div>




    <div class="review_button">
      <a class="call_button" href="">see more</a>
    </div>


  </div>
  