<div class="category_name">
    <span class="first_cat">About</span>
    <span class="second_cat">Us</span>
  </div>

  <div class="about_us">

    <div class="about_stats">

        
      <div class="stats">
        <div class="hanging_line"></div>
        <span class="stats_number">50+</span>
        <span class="stats_details">Happy clients</span>
      </div>

      <div class="stats">
        <div class="hanging_line"></div>
        <span class="stats_number">10+</span>
        <span class="stats_details">Projects</span>
      </div>


      <div class="stats">
        <div class="hanging_line"></div>
        <span class="stats_number">5+</span>
        <span class="stats_details">Yrs experience</span>
      </div>


    </div>
    <div class="about_button">
      <a href="" class="call_button">See more</a>
    </div>
  </div>