{% load static %}

<!-----------Category devider ---------------------------->
<div class="category_name">
  <span class="first_cat">Our</span>
  <span class="second_cat">Services</span>
</div>


<div class="service_box">

{% for service in services %}
    <a href="" class="services">
      <span class="service_svg">
        <img
          class="service_img"
          src="
          {% if service.home_icon %}
            {{service.home_icon.url}}
          {% else %}
            {% static 'img/no_img.jpg' %}
          {% endif %}
          "
          alt="web development svg"
        />
      </span>
      <span class="service_name">{{service.name}}</span>
    </a>
{% endfor %}


  </div>
  <div class="all_services">
    <a class="all_service_link" href="#">
      <span class="all_service_name"> Check out our all services</span></a
    >
  </div>