{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock css %}


{% block title %}
    About us
{% endblock title %}



{% block main %}
    <!------------about_header---------------------->
    {% include 'loopers/about/header.html' %}
  
      <!------------about nav---------------------->
      <div class="about_nav">
        <div class="nav_card">
          <a href="#about-msg" class="nav_icon"><i class="bi bi-chat-quote"></i></a>
          <a href="#about-msg" class="nav_name">Our message</a>
        </div>
  
        <div  class="nav_card">
          <a href="#abt-vision" class="nav_icon"><i class="bi bi-bullseye"></i></a>
          <a href="#abt-vision" class="nav_name">Our vision</a>
        </div>
      </div>
  
      <!------------Our portfolio---------------------->
      {% include 'loopers/about/portfolio.html' %}
  
      <!------------Our leading member -------->
      {% include 'loopers/about/leading_member.html' %}
  
      <!------------Our message -------->
      {% include 'loopers/about/message.html' %}
  
      <!------------Our vision -------->
      {% include 'loopers/about/vision.html' %}

{% endblock main %}
    