{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock css %}
    

{% block title %}
    Home
{% endblock title %}


{% block main %}
<div class="background_wave">
    {% include 'loopers/home/intro_header.html' %}

    
    <!-----------Our services ---------------------------->
    {% include 'loopers/home/home_service.html' %}

    <!-----------------About us ---------------------------->
    {% include 'loopers/home/home_about.html' %}

    <!-----------------Reviews ---------------------------->
    {% include 'loopers/home/home_review.html' %}

    <!-----------------blogs ---------------------------->
    {% include 'loopers/home/home_blog.html' %}

    <!-----------------Estimated price ---------------------------->
    {% include 'loopers/home/home_pricing.html' %}


  </div>
{% endblock main %}
    