{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
{% endblock css %}


{% block title %}
    Services
{% endblock title %}



{% block main %}
<div class="service-container">
    <!-----------Category devider ---------------------------->
  <div class="category_name">
    <span class="first_cat">Our</span>
    <span class="second_cat">Services</span>
  </div>
  <!-- -----------------end of category devider ------------------------ -->
   
    <div class="service-categories"> 

        <div class="service">
            <div class="service-intro">
                <img class="service-image" src="https://img.freepik.com/free-photo/programming-background-collage_23-2149901789.jpg" alt="webdev vector">
                <h1 class="service-title">Web Development</h1>
                <p class="service-short-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, in provident sapiente fuga repudiandae</p>
            </div>
            <div class="service-offer">
                <h2 class="offer-title">What we offer</h2>
                <ul class="offer-list">
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> Custom Design
                    </li>
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> SEO friendly structure
                    </li>
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> Easy maintanance
                    </li>
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> User friendly dashboard
                    </li>
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> Easy to use Admin panel
                    </li>
                </ul>
                <div class="btn-container">
                    <a href="#" class="service-explore-btn">Explore Options</a>
                </div>
            </div>
        </div>

        

        <div class="service">
            <div class="service-intro">
                <img class="service-image" src="https://img.freepik.com/free-photo/programming-background-collage_23-2149901789.jpg" alt="webdev vector">
                <h1 class="service-title">Web Development</h1>
                <p class="service-short-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, in provident sapiente fuga repudiandae</p>
            </div>
            <div class="service-offer">
                <h2 class="offer-title">What we offer</h2>
                <ul class="offer-list">
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> Custom Design
                    </li>
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> SEO friendly structure
                    </li>
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> Easy maintanance
                    </li>
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> User friendly dashboard
                    </li>
                    <li class="offer-list-item">
                        <span class="offer-bullet"></span> Easy to use Admin panel
                    </li>
                </ul>
                <div class="btn-container">
                    <a href="#" class="service-explore-btn">Explore Options</a>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock main %}
    