{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/sub_service.css' %}">
{% endblock css %}


{% block title %}
    Sub service 
{% endblock title %}
    


{% block main %}
     <!-----------Category devider ---------------------------->
     <div class="category_name">
        <span class="first_cat">Web</span>
        <span class="second_cat">Development</span>
      </div>
      <!-- -----------------end of category devider ------------------------ -->
   
   
      <div class="sub-service-container">

        
      <div class="sub-service">
        <img src="https://img.freepik.com/free-vector/web-hosting-isometric-composition-with-icons-website-windows-buttons-desktop-computer-with-people-vector-illustration_1284-80933.jpg" 
        alt="" class="sub-service-img">
        <div class="sub-service-info">
            <h1 class="sub-service-title">PhD portfolio</h1>
            <p class="sub-service-descr">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, harum. Sapiente laudantium quam minus 
                blanditiis maxime! Velit cum tenetur voluptate minima reprehenderit temporibus esse fugit quam? Recusandae 
                laborum qui ratione natus possimus, facilis sint, iste molestias repellendus reprehenderit incidunt veniam!
            </p>
            <div class="sub-btn-container">
                <a href="#" class="sub-contact-btn">Request order</a>
            </div>
        </div>
      </div>

      
      <div class="sub-service">
        <img src="https://img.freepik.com/free-vector/web-hosting-isometric-composition-with-icons-website-windows-buttons-desktop-computer-with-people-vector-illustration_1284-80933.jpg" 
        alt="" class="sub-service-img">
        <div class="sub-service-info">
            <h1 class="sub-service-title">PhD portfolio</h1>
            <p class="sub-service-descr">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, harum. Sapiente laudantium quam minus 
                blanditiis maxime! Velit cum tenetur voluptate minima reprehenderit temporibus esse fugit quam? Recusandae 
                laborum qui ratione natus possimus, facilis sint, iste molestias repellendus reprehenderit incidunt veniam!
            </p>
            <div class="sub-btn-container">
                <a href="#" class="sub-contact-btn">Request order</a>
            </div>
        </div>
      </div>


    </div>

{% endblock main %}
    