<div class="category_name">
    <span class="first_cat">leading</span>
    <span class="second_cat">members</span>
  </div>
  <div class="top_member_card_list">
    <div class="top_member_card">
      <img
        class="top_member_img"
        src="https://scontent.fdac24-3.fna.fbcdn.net/v/t39.30808-6/373304690_716821590462165_4589708717313288488_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=7Nc1c8appRcQ7kNvgEoOtjm&_nc_zt=23&_nc_ht=scontent.fdac24-3.fna&_nc_gid=AFLxoqrPe0YvU8vYGnjoHKT&oh=00_AYBjbAv6GCRz2FV3Qy_uZAPU3wQFXchmNeC8_hZ6JQ4pbw&oe=67354742"
        alt=""
      />
      <span class="top_member_name">Abdullah al mamun Tonmoy</span>
      <span class="top_member_position">Digital marketing expert</span>
      <div class="member_link">
        <a class="member_link_icon" href=""><i class="bi bi-linkedin"></i></a>
        <a class="member_link_icon" href=""><i class="bi bi-github"></i></a>
        <a class="member_link_icon" href=""><i class="bi bi-facebook"></i></a>
      </div>
    </div>

    <div class="top_member_card">
      <img
        class="top_member_img"
        src="https://scontent.fdac24-3.fna.fbcdn.net/v/t39.30808-6/373304690_716821590462165_4589708717313288488_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=7Nc1c8appRcQ7kNvgEoOtjm&_nc_zt=23&_nc_ht=scontent.fdac24-3.fna&_nc_gid=AFLxoqrPe0YvU8vYGnjoHKT&oh=00_AYBjbAv6GCRz2FV3Qy_uZAPU3wQFXchmNeC8_hZ6JQ4pbw&oe=67354742"
        alt=""
      />
      <span class="top_member_name">Abdullah al mamun Tonmoy</span>
      <span class="top_member_position">Digital marketing expert</span>
      <div class="member_link">
        <a class="member_link_icon" href=""><i class="bi bi-linkedin"></i></a>
        <a class="member_link_icon" href=""><i class="bi bi-github"></i></a>
        <a class="member_link_icon" href=""><i class="bi bi-facebook"></i></a>
      </div>
    </div>

    <div class="top_member_card">
      <img
        class="top_member_img"
        src="https://scontent.fdac24-3.fna.fbcdn.net/v/t39.30808-6/373304690_716821590462165_4589708717313288488_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=7Nc1c8appRcQ7kNvgEoOtjm&_nc_zt=23&_nc_ht=scontent.fdac24-3.fna&_nc_gid=AFLxoqrPe0YvU8vYGnjoHKT&oh=00_AYBjbAv6GCRz2FV3Qy_uZAPU3wQFXchmNeC8_hZ6JQ4pbw&oe=67354742"
        alt=""
      />
      <span class="top_member_name">Abdullah al mamun Tonmoy</span>
      <span class="top_member_position">Digital marketing expert</span>
      <div class="member_link">
        <a class="member_link_icon" href=""><i class="bi bi-linkedin"></i></a>
        <a class="member_link_icon" href=""><i class="bi bi-github"></i></a>
        <a class="member_link_icon" href=""><i class="bi bi-facebook"></i></a>
      </div>
    </div>
  </div>