<div class="category_name">
  <span class="first_cat">key</span>
  <span class="second_cat">Members</span>
</div>
<div class="leading_member">
  <div class="employee_profile_list">
    
    <div class="employee_profile">
      <img class="employee_img" src="https://img.freepik.com/free-photo/smiling-young-beautiful-girl-pointing-right-side-with-copy-space_141793-92529.jpg" alt="" />
      <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
      <div class="employee_position">Digital marketing expert</div>
      <div class="team_member_link">
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-linkedin" id="team_member_linkedin_id"></i
        ></a>
        <a class="team_member_link_icon"  href=""
          ><i class="bi bi-github" id="team_member_github_id" ></i
        ></a>
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-facebook" id="team_member_facebook_id" ></i
        ></a>
      </div>
    </div>
    
    <div class="employee_profile">
      <img class="employee_img" src="https://img.freepik.com/free-photo/smiling-young-beautiful-girl-pointing-right-side-with-copy-space_141793-92529.jpg" alt="" />
      <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
      <div class="employee_position">Digital marketing expert</div>
      <div class="team_member_link">
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-linkedin" id="team_member_linkedin_id"></i
        ></a>
        <a class="team_member_link_icon"  href=""
          ><i class="bi bi-github" id="team_member_github_id" ></i
        ></a>
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-facebook" id="team_member_facebook_id" ></i
        ></a>
      </div>
    </div>
    
    <div class="employee_profile">
      <img class="employee_img" src="https://img.freepik.com/free-photo/smiling-young-beautiful-girl-pointing-right-side-with-copy-space_141793-92529.jpg" alt="" />
      <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
      <div class="employee_position">Digital marketing expert</div>
      <div class="team_member_link">
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-linkedin" id="team_member_linkedin_id"></i
        ></a>
        <a class="team_member_link_icon"  href=""
          ><i class="bi bi-github" id="team_member_github_id" ></i
        ></a>
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-facebook" id="team_member_facebook_id" ></i
        ></a>
      </div>
    </div>
    
    <div class="employee_profile">
      <img class="employee_img" src="https://img.freepik.com/free-photo/smiling-young-beautiful-girl-pointing-right-side-with-copy-space_141793-92529.jpg" alt="" />
      <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
      <div class="employee_position">Digital marketing expert</div>
      <div class="team_member_link">
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-linkedin" id="team_member_linkedin_id"></i
        ></a>
        <a class="team_member_link_icon"  href=""
          ><i class="bi bi-github" id="team_member_github_id" ></i
        ></a>
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-facebook" id="team_member_facebook_id" ></i
        ></a>
      </div>
    </div>
    
    <div class="employee_profile">
      <img class="employee_img" src="https://img.freepik.com/free-photo/smiling-young-beautiful-girl-pointing-right-side-with-copy-space_141793-92529.jpg" alt="" />
      <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
      <div class="employee_position">Digital marketing expert</div>
      <div class="team_member_link">
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-linkedin" id="team_member_linkedin_id"></i
        ></a>
        <a class="team_member_link_icon"  href=""
          ><i class="bi bi-github" id="team_member_github_id" ></i
        ></a>
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-facebook" id="team_member_facebook_id" ></i
        ></a>
      </div>
    </div>
    
    <div class="employee_profile">
      <img class="employee_img" src="https://img.freepik.com/free-photo/smiling-young-beautiful-girl-pointing-right-side-with-copy-space_141793-92529.jpg" alt="" />
      <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
      <div class="employee_position">Digital marketing expert</div>
      <div class="team_member_link">
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-linkedin" id="team_member_linkedin_id"></i
        ></a>
        <a class="team_member_link_icon"  href=""
          ><i class="bi bi-github" id="team_member_github_id" ></i
        ></a>
        <a class="team_member_link_icon" href=""
          ><i class="bi bi-facebook" id="team_member_facebook_id" ></i
        ></a>
      </div>
    </div>
    
  </div>
  <!-- <div class="horizontal_line"></div>
  <div class="leading_member_button">
    <a class="our_portfolio_link" href="">see more</a>
  </div> -->
</div>