{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/apply_success.css' %}">
{% endblock css %}


{% block title %}
    Careers
{% endblock title %}



{% block main %}
     <!------------Career header ----------->
     <div class="career_header_wrapper">
        <div class="career_header">
          <div class="career_header_intro">
            <div class="career_header_details">
              <span class="career_header_titles"
                >Be a part of something great</span
              >
  
              <div class="career_short_title">Thank you for being interested in our journey</div>
            </div>
            
          </div>
          <div class="category_name">
            <span class="first_cat">Your Application has been submitted</span>
            <span class="second_cat">successfully</span>
          </div>
        </div>
        <!-- <img class="career_header_img" src="{% static 'img/career_header_3.png' %}" alt="" /> -->
      </div>
  
      <!--------------Open Roles---------->
      
      
    

{% endblock main %}
    