<div class="category_name">
    <span class="first_cat">Leading</span>
    <span class="second_cat">Members</span>
  </div>
  <div class="leading_member">
    <div class="employee_profile_list">


      <div class="employee_profile">
        <img class="employee_img" src="https://img.freepik.com/free-vector/boss-man-concept-illustration_114360-19846.jpg" alt="tom" />
        <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
        <div class="employee_position">Digital marketing expert</div>
      </div>



      <div class="employee_profile">
        <img class="employee_img" src="https://img.freepik.com/free-photo/portrait-handsome-smiling-businessman-office_1163-5471.jpg" alt="tom" />
        <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
        <div class="employee_position">Digital marketing expert</div>
      </div>


      <div class="employee_profile">
        <img class="employee_img" src="https://img.freepik.com/free-photo/young-businessman-using-mobile-phone-office-looking-camera_637285-8766.jpg" alt="tom" />
        <div class="employee_name">Abdullah Al Mamun Tonmoy</div>
        <div class="employee_position">Digital marketing expert</div>
      </div>


    </div>
    <div class="horizontal_line"></div>
    <div class="leading_member_button">
      <a class="our_portfolio_link" href="">see more</a>
    </div>
  </div>