{% load static %}


<div class="category_name" id="about-msg">
    <span class="first_cat">Our</span>
    <span class="second_cat">Message</span>
  </div>

  <div class="our_message">
    <img class="message_img" src="{% static 'img/about_us.svg' %}" alt="" />
    <div class="the_message" >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, hic ex
      ipsam doloremque error maiores repudiandae officiis consequuntur, velit
      enim sunt exercitationem nesciunt suscipit. Distinctio quaerat optio
      expedita natus accusantium. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Doloremque aut pariatur dicta accusamus ducimus
      debitis, nesciunt similique vitae recusandae error laudantium quam
      repudiandae aliquam dolorem libero quo modi rem sunt.
    </div>
  </div>