{% load static %}

<div class="category_name" id="abt-vision">
    <span class="first_cat">Our</span>
    <span class="second_cat">Vision</span>
  </div>
  <div class="our_vision_card">
    <img class="subtract" src="{% static 'img/our_vision.svg' %}" alt="" />
    <img
      class="vision_img"
      src="https://scontent.fdac24-4.fna.fbcdn.net/v/t39.30808-6/286177857_399499975523981_3767999944600438477_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=vaXfm20ZYesQ7kNvgECRALd&_nc_zt=23&_nc_ht=scontent.fdac24-4.fna&_nc_gid=AKdeRmTpfwylEfGx61PU5fN&oh=00_AYA6kc2MrFflnSicG2lDIMtjLCkpUsxTHlvEe6-PrKkvmQ&oe=672AE330"
      alt=""
    />
    <div class="vision_details">
      Empowering businesses through innovative web development and data-driven
      digital marketing
    </div>
  </div>